<div class="mb-5 pt-3">

        
    <h2 class="title pb-4"><strong>Dashboard:Your Items</strong></h2><hr>

    <a href="/item/new"><button class="btn btn-success btn-lg" type="submit">Add New Item</button></a>



    {{#each items as |item| }}
        <div class="col-md-2 column productbox">
            <img src="/images/{{item.image}}" class="img-responsive box">
            <a class="producttitle" href="/item/{{item.id}}">{{item.name}}</a>
            <div class="productprice">
            <div class="pull-right"><a href="/item/{{item.id}}" class="btn btn-danger btn-sm" role="button">BUY</a></div>
            <div class="pricetext">{{format_amount item.price}}</div>
            </div>
        </div>
    {{/each}}

</div>