<div class="newItem-input" style="margin: 0 auto; display: flex; justify-content: center;">
  <div class="col-md-6">
    <h3>Edit Item </h3>

    {{#each items as |item| }}
    <img src="{{item.image}}" class="img-responsive">
    <form class="form new-item-form" method="post" action="/api/items/update/{{item.id}}">

      <div class="form-group">
        <label for="item-name">Item name: </label>
        <input class="form-input" type="text" id="item-name" name="name" value={{item.name}} />
      </div>
      <div class="form-group">
        <label for="item-description">Description: </label>
        <input class="form-input" type="text" id="item-description" name="description" value={{item.description}} />
      </div>
      <div class="form-group">
        <label for="item-price">Price: </label>
        <input class="form-input" type="text" id="item-price" name="price" value={{item.price}} />
      </div>
      <div class="form-group">
        <label for="item-size-number">Size Number: </label>
        <input class="form-input" type="number" id="item-size-number" name="size_number" value={{item.size_number}} />
      </div>
      <div class="form-group">
        <label for="item-size-letter">Size Letter: </label>
        <input class="form-input" type="text" id="item-size-letter" name="size_letter" value={{item.size_letter}} />
      </div>
      <div class="form-group">
        <label for="item-image">Image Name: </label>
        <input class="form-input" type="text" id="item-image" name="image" value={{item.image}} />
      </div>

      {{/each}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>