<section class="container col-xl-10 col-xxl-8 px-4 py-5 custom-intro">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">BUY ... SELL ... TRADE ...</h1>
      <p class="col-lg-10 fs-4">OCTO is a platform to buy and sell clothing. OCTO empowers fashion entrepenurs to run
        their own business and express their creativity. Shop with us to discover cool clothing you can't find on
        fast-fashion websites. (and hey, its good for the enviornment too.) Sign up now to start:</p>
    </div>

    {{#if logged_in}}

    {{else}}
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="Name" class="form-control" id="name-signup" placeholder="Justin Timberlake">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="Email" class="form-control" id="email-signup" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password-signup" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="submitBtn w-100 btn btn-lg btn-primary">Sign up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
    {{/if}}
  </div>
</section>

<section>
  {{#each items as |item| }}
  <div class="col-md-2 column productbox">
    <img src="/images/{{item.image}}" class="img-responsive">
    <a class="producttitle" href="/item/{{item.id}}">{{item.name}}</a>
    <div class="productprice">
      <div class="pull-right"><a href="/item/{{item.id}}" class="btn btn-danger btn-sm" role="button">BUY</a></div>
      <div class="pricetext">{{format_amount item.price}}</div>
    </div>
  </div>
  {{/each}}
</section>

<script src="./js/signup.js"></script>