<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse g-5 py-5">
        <div class="col-lg-6">
            <p class="lead"><i class="fas fa-users"></i>   {{user.name}}'s Store</p>
            <div class="custom-item-info">
              <h1 class="display-5 fw-bold lh-1 mb-3">{{name}}</h1>
              <p class="lead">{{description}}</p>
              <p class="lead">Size: {{size_letter}} {{size_number}}</p>
              <br>
              <p class="lead">💲{{price}}</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  {{#if logged_in}}
                  <p>
                    <a href="/item/purchase/{{id}}"><button class="btn btn-primary custom-buy-btn">Buy now</button></a>
                  {{else}}
                  {{/if}}
                  </p>
              </div>
            </div>
            <small class="custom-date text-muted">Posted on {{format_date date_posted}}</small>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{image}}" class="d-block mx-lg-auto img-fluid" alt="Item Image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>